.backdrop {
  position: relative;
}

.backdrop video {
  position: relative;
  object-fit: cover;
  height: 300px;
  width: 100%;
  background: #252830;
}

.videoTag {
  object-fit: cover;
  width: inherit;
  height: inherit;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: -1;
}

.overlay {
  @media(min-width:960px){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media(max-width:959px){
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url('../assets/flipbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
  }

  p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
}