.main-header {
  z-index: 1;
  font-family: Michroma, serif;
  background-color: #141414;

  & img {
    height: 40px;
    padding-right: 10px;
  }

  .header-content {
    position: relative;
    z-index: 2;

    .background-art {
      position: absolute;
      z-index: -1;
    }
  }
}
