.events-section {
  position: relative;
  display: block;
  background-color: #141414;
}

.playlist-wrapper {
  padding-bottom: 30px;
}

.playlist-flex {
  overflow-x:auto;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-left: 10px;
  display:flex;
}

.playlist-flex div {
  flex: 0 0 auto;
  box-sizing: border-box;
  margin-left: 15px;

  img {
    z-index: 9999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    transition: transform .2s;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  img:hover {
    transform: scale(1.08);
    cursor: pointer;
  }

  img:active {
    border: 3px solid white;
  }
}

.playlist-flex div:first-child {
  margin-left: 0;
}