@import "./countdown";
@import "./backdrop";
@import "./header";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.events-section {
  position: relative;
  display: block;
  background-color: #303030;
}

.twitch-embed {
  height: 30vh;
}