@import "../styles/countdown";
@import "../styles/backdrop";
@import "../styles/header";
@import "../styles/playlist";
@import "../styles/spotlight";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.twitch-embed {
  height: 40vh;
}

.audio-player {
  z-index: 9999;
}

.title-padding {
  padding: 30px 0 5px 0;
}

.main-footer {
  display: block;
  height: 150px;
  background: #141414;

/*  background-image: url('../assets/flipbg.png');
  background-repeat: no-repeat;
  background-size: cover;*/
}

.twitch-icon img {
  fill: purple;
  color: red;
}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #e5e5e5 #191919;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #191919;
  border-radius: 35px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 20px;
}
